body {
    margin: 0;
    background: #1F2937;
}

.title-el {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin: 65px 100px 5px 50px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.title-el-two {
    color: #4ADF86;
}

.sub-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin: 5px 100px 0 49px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

#btn-generate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 35px;
    padding: 9px 17px 9px 15px;
    border: none;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 191px;
    height: 42px;
}

hr {
    width: 93%;
    border: 1px solid #2F3E53;
}

.container{
    display: flex;
    margin: 20px 50px;
}

#pass-container, #pass-container-two{
    width: 200px;
    height: 35px;
    border: 2px solid #273549;
    background: #273549;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 2px 5px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
}

#pass-container-two {
    margin-left: 25px;
}
